@{
    ViewBag.Title = "Редактирование";
}
@model ServiceProposal.Models.Provider
@using ServiceProposal.Models


    <style>
        * {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.container img {vertical-align: middle;}

.container .content {
    position: relative;
    grid-column-end: auto;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
    </style>
    
<div class="content">
        @using (Html.BeginForm())
        {
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <div class="editor-label"><b>Имя</b></div>
                            <div class="editor-field"style="color:black">
                                @Html.EditorFor(model => model.FirstName)
                            </div>
                        </p>
                        <p>
                            <div class="editor-label"><b>Фамилия</b></div>
                            <div class="editor-field"style="color:black">
                                @Html.EditorFor(model => model.SecondName)
                            </div>
                        </p>
                        <p>
                            <div class="editor-label"><b>Моб. Телефон</b></div>
                            <div class="editor-field"style="color:black">
                                @Html.EditorFor(model => model.TelNumber)
                            </div>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <div class="editor-label"><b>Услуги</b></div>
                        <p>

                            @foreach (Service c in ViewBag.Services)
                            {
                                <input type="checkbox" name="selectedServices" value="@c.Id"
                                       @(Model.Services.Contains(c) ? "checked=\"checked\"" : "") /> @c.Name <br />
                                }
                        </p>

                        <p>
                            <input type="submit" value="Сохранить" style="color:black" />
                        </p>

                    </div>
                </div>
            </fieldset>
        }
</div>
