
@{
    ViewBag.Title = "Parlor";
}
@model ServiceProposal.Models.Provider
@using ServiceProposal.Models
<h2>Личный Кабинет</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Личная <p>Информация</p></h2>
        <hr><p>Имя: @Model.FirstName</p>
        <hr><p>Фамилия: @Model.SecondName</p>
        <hr><p>Моб. Телефон: @Model.TelNumber</p>
        <hr><p>Почта: @Model.Email</p>
    </div>
    <div class="col-md-4">
        <h2>Предоставляемые <p>услуги: @Model.Services.Count</p></h2>
       
        @foreach (Service a in Model.Services)
        {
            <hr><p>@a.Name</p>
        }


    </div>
    <div class="col-md-4">
        <p> @Html.ActionLink("Изменить", "Edit", new { id = Model.Id })</p>
    </div>
</div>

