
@{
    ViewBag.Title = "Parlor";
}
@model ServiceProposal.Models.Provider
@using ServiceProposal.Models
<h2>Личный Кабинет</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Личная <p>Информация</p></h3>
        <hr><p><strong>Имя:</strong> @Model.FirstName</p>
        <hr><p><strong>Фамилия:</strong> @Model.SecondName</p>
        <hr><p><strong>Моб. Телефон:</strong> @Model.TelNumber</p>
        <hr><p><strong>Почта:</strong> @Model.Email</p>
    </div>
    <div class="col-md-4">
        <h3>Предоставляемые <p>услуги: @Model.Services.Count</p></h3>
       
        @foreach (Service a in Model.Services)
        {
            <hr><p>@a.Name</p>
        }
    </div>

    <div class="col-md-4">
        <p> @Html.ActionLink("Изменить", "Edit", new { id = Model.Id })</p>
    </div>
</div>

